<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h1>C2C API Hub</h1>
    <form action="/search" method="POST">
      <div class="card w-50 p-3">
        <div class="mb-3">
          <label for="lat"
            >Latitude<abbr title="required" aria-label="required"
              >*</abbr
            ></label
          >
          <input class="form-control" id="lat" name="Latitude" />
          <small id="degreeInfo" form="form-text text-muted"
            >Coordinates are formatted with decimal points, not minutes</small
          >
        </div>
        <div class="mb-3">
          <label for="lon"
            >Longitude<abbr title="required" aria-label="required"
              >*</abbr
            ></label
          >
          <input class="form-control" id="lon" name="Longitude" />
          <small id="degreeInfo" form="form-text text-muted"
            >Coordinates are formatted with decimal points, not minutes</small
          >
        </div>
        <div class="mb-3">
          <label for="hub"
            >Hub Height<abbr title="required" aria-label="required"
              >*</abbr
            ></label
          >
          <input class="form-control" id="hub" name="HubHeight" />
          <small id="unitInfo" form="form-text text-muted"
            >Height of turbine above the ground in meters</small
          >
        </div>
        <div class="mb-3">
          <label for="windSurface"
            >Wind Surface<abbr title="required" aria-label="required"
              >*</abbr
            ></label
          >
          <select class="form-control" id="windSurface" name="WindSurface">
            <option value="unknown">unknown</option>
            <option value="vegtype_1">vegtype_1</option>
            <option value="vegtype_2">vegtype_2</option>
            <option value="vegtype_3">vegtype_3</option>
            <option value="vegtype_4">vegtype_4</option>
            <option value="vegtype_5">vegtype_5</option>
            <option value="vegtype_6">vegtype_6</option>
            <option value="vegtype_7">vegtype_7</option>
            <option value="vegtype_8">vegtype_8</option>
            <option value="vegtype_9">vegtype_9</option>
            <option value="vegtype_10">vegtype_10</option>
            <option value="vegtype_11">vegtype_11</option>
            <option value="vegtype_12">vegtype_12</option>
            <option value="vegtype_20">vegtype_20</option>
            <option value="seaice">seaice</option>
            <option value="openwater">openwater</option>
            <option value="airportice">airportice</option>
            <option value="airportgrass">airportgrass</option>
          </select>
          <small id="windSurfaceInfo" form="form-text text-muted"
            >Based on the NASA Corrected Wind Speed calculation. Specifications
            can be found
            <a
              href="https://power.larc.nasa.gov/docs/methodology/meteorology/wind/#corrected-wind-speed"
              >here.</a
            ></small
          >
        </div>
        <div class="mb-3">
          <label for="startDate"
            >Start Date<abbr title="required" aria-label="required"
              >*</abbr
            ></label
          >
          <input class="form-control" id="startDate" name="start" type="date" />
        </div>
        <div class="mb-3">
          <label for="endDate"
            >End Date<abbr title="required" aria-label="required"
              >*</abbr
            ></label
          >
          <input class="form-control" id="endDate" name="end" type="date" />
        </div>
        <div class="mb-3">
          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseWeather"
              aria-expanded="false"
              aria-controls="collapseWeather"
            >
              Open Weather (Experimental)
            </button>
          </p>
          <div class="collapse" id="collapseWeather">
            <div class="card card-body">
              <p>
                Currently Open Weather support is limited. It is not enabled by
                default, because a historical query requires multiple API calls.
                As a result, for large periods of time with small time sets,
                limits can be met incredibly quickly. If this app is being run
                in a development environment, then <b>your</b> API key is being
                used for this, so be careful.
                <b>Each time step results in an API call</b>
              </p>
              <div class="mb-3 form-check">
                <input
                  name="openWeather"
                  type="checkbox"
                  class="form-check-input"
                  id="weatherCheck"
                />
                <label class="form-check-label" for="weatherCheck"
                  >Access Open Weather Data</label
                >
              </div>
              <div class="mb-3">
                <label for="timeStep" class="form-label">Time Step</label>
                <input
                  name="timeStep"
                  id="timeStep"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </form>
  </body>
  <%- include('../partials/footer.ejs') %>
</html>
